/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container Styles */
.container {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 700px;
    width: 100%;
}

/* Image Section Styles */
.image-section {
    flex: 1;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Form Section Styles */
.form-section {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-section h2 {
    margin-bottom: 15px;
    font-size: 20px;
    color: #333;
}

.form-section form {
    display: flex;
    flex-direction: column;
}

.form-section input[type="text"],
.form-section input[type="email"],
.form-section input[type="tel"],
.form-section input[type="password"] {
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.form-section small {
    margin-bottom: 5px;
    color: red;
}

.form-section button[type="submit"] {
    padding: 12px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 10px;
}

.form-section button[type="submit"]:hover {
    background-color: #ffa45c;
}



.google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 10px;
}

.google-btn img {
    margin-right: 6px;
}

.google-btn:hover {
    background-color: #ffa45c;
}

.form-section p {
    font-size: 12px;
    color: #666;
}

.form-section p a {
    color: #007bff;
    text-decoration: none;
}

.form-section p a:hover {
    text-decoration: underline;
}
/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .image-section {
        display: none; /* Hide the image section on smaller screens */
    }

    .form-section {
        padding: 15px;
    }
}
