<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AudioVerse</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="/winkel/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/winkel/css/animate.css">
    
    <link rel="stylesheet" href="/winkel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/winkel/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/winkel/css/magnific-popup.css">

    <link rel="stylesheet" href="/winkel/css/aos.css">

    <link rel="stylesheet" href="/winkel/css/ionicons.min.css">

    <link rel="stylesheet" href="/winkel/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/winkel/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="/winkel/css/flaticon.css">
    <link rel="stylesheet" href="/winkel/css/icomoon.css">
    <link rel="stylesheet" href="/winkel/css/style.css">
  </head>