<div class="row">
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-body text-center p-2">
         <a href="/profile"><img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
            class="rounded-circle img-fluid" style="width: 120px;"></a> 
          <h5 class="my-2"><%= user.name %></h5>
        </div>
      </div>
      <div class="card mb-4 mb-lg-0">
        <div class="card-body p-0">
          <ul class="list-group list-group-flush rounded-3">
            <a  style="  text-decoration: none;" href="">
            <li class="list-group-item d-flex justify-content-between align-items-center p-2">
              <i class="fas fa-wallet fa-lg black-icon"></i>
              <span class="ms-2"><a style="  text-decoration: none; color: black;"  href="/wallet">Wallet</a></span>
            </li>
          </a>
          <a  style="  text-decoration: none;" href="">
            <li class="list-group-item d-flex justify-content-between align-items-center p-2">
              <i class="fas fa-shopping-bag fa-lg black-icon"></i>
              <span class="ms-2"> <a style="  text-decoration: none; color: black;"  href="/orderDetails">Orders</a></span>
            </li>
          </a>
          <a  style="  text-decoration: none;" href=""></a>
            <li class="list-group-item d-flex justify-content-between align-items-center p-2">
              <i class="fas fa-heart fa-lg black-icon"></i>
              <span class="ms-2"><a style="  text-decoration: none; color: black;"  href="/wishlist">Wishlist</a></span>
            </li>
          </a>
            
            <li class="list-group-item d-flex justify-content-between align-items-center p-2">
              <i class="fas fa-map-marker-alt fa-lg black-icon"></i>
              <span class="ms-2"><a style="  text-decoration: none; color: black;"  href="/address">Address</a></span>
            </li>
          
          </ul>
        </div>
      </div>
    </div>